<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../lib/mui/css/font-mui-icons-extra.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../styles/cart.css">
    <title>品优购</title>
</head>

<body class="eleToggle">
    <div class="layout">
        <header id="header" class="mui-bar mui-bar-nav pyg_header">
            <h1 class="mui-title">购物车</h1>
            <button class="mui-btn mui-btn-primary mui-btn-outlined mui-pull-left pyg_orderDe">删除</button>
            <button class="mui-btn mui-btn-primary mui-btn-outlined mui-pull-right pyg_orderEdit">编辑</button>
        </header>
        <div class="pyg_content">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="cart_address">
                        <div class="cart_addr_title">配送地址</div>
                        <div class="cart_addr_content">
                            <div class="addr_content_left">
                                <span class="mui-icon mui-icon-location"></span>
                            </div>
                            <div class="addr_content_right">
                                <div class="content_right_top">默认地址</div>
                                <div class="content_right_bottom">佛山顺德陈村镇</div>
                            </div>
                        </div>
                    </div>
                    <div class="cart_price">
                        <div class="cart_price_title">总价</div>
                        <div class="cart_price_content">
                            <div class="cp_info">
                                总价: <span class="price"></span>
                            </div>
                            <a href="javascript:;" class="cp_order_btn">生成订单</a>
                        </div>
                    </div>
                    <div class="cart_order">
                        <div class="cart_order_title">订单</div>
                        <div class="cart_order_content">
                            
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="pyg_footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item" href="../index.html">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item" href="./category.html">
                    <span class="mui-icon mui-icon-list"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item mui-active" href="./cart.html">
                    <span class="mui-icon-extra mui-icon-extra-cart"></span>
                    <div class="mui-tab-label" style="font-size:12px">购物车</div>
                </a>
                <a class="mui-tab-item" href="#tabbar-with-map">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </nav>
        </div>
    </div>
    <script type="text/template" id="orderTemp">
        {{each list value index}}
        <div class="order_content_list" data-order='{{value}}'>
            <div class="mui-input-row mui-checkbox mui-left cart_checkbox_wrap">
                <label></label>
                <input name="checkbox" value="Item 2" type="checkbox" checked="" class="checkeda">
            </div>
            <div class="cart_img_wrap">
                <img src="{{value.goods_small_logo}}" alt="">
            </div>
            <div class="cart_info_wrap">
                <div class="goods_name mui-ellipsis-2">{{value.goods_name}}</div>
                <div class="mui-numbox pyg_orderDe" data-numbox-min="1" data-numbox-max="{{value.goods_number}}">
                    <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                    <input id="test" class="mui-input-numbox" type="number" value="{{value.amount}}">
                    <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                </div>
                <div class="goods_price">￥ {{value.goods_price}}</div>
            </div>
        </div>
        {{/each}}
    </script>
    <script src="../lib/mui/js/mui.min.js"></script>
    <script src="../lib/zepto/zepto.js"></script>
    <script src="../lib/arttemplate/template-web.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/cart.js"></script>
</body>

</html>