<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../lib/mui/css/font-mui-icons-extra.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../styles/category.css">
    <title>品优购</title>
</head>

<body>
    <div class="layout">
        <div class="pyg_header">
            <div class="mui-input-row mui-search">
                <input type="search" class="mui-input-clear" placeholder="">
            </div>
        </div>
        <div class="pyg_content">
            <div class="left">
                <ul>
                   
                </ul>
            </div>
            <div class="right">
                <div class="rightList">
                    
                </div>
            </div>
        </div>
        <div class="pyg_footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item" href="../index.html">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item mui-active" href="./category.html">
                    <span class="mui-icon mui-icon-list"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item" href="./cart.html">
                    <span class="mui-icon-extra mui-icon-extra-cart"></span>
                    <div class="mui-tab-label" style="font-size:12px">购物车</div>
                </a>
                <a class="mui-tab-item" href="./person.html">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </nav>
        </div>
    </div>
    <!-- 渲染左边列表模板 -->
    <script type="text/template" id="leftnavTemp">
        {{each list value index}}
        <li class="{{index==0?'active':''}}">
                <a href="#">{{value.cat_name}}</a>
        </li>
        {{/each}}
    </script>
    <!-- 渲染右边商品列表模板 -->
    <script type="text/template" id="rightListTemp">
        {{each children value index}}
        <div class="cate2">
            <div class="cate2_title">{{value.cat_name}}</div>
            <div class="cate2_content">
                {{each value.children v i}}
                <a href="goodsList.html?cid={{v.cat_id}}">
                    <img src="http://157.122.54.189:9094{{v.cat_icon}}"
                        alt="">
                    <span>{{v.cat_name}}</span>
                </a>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </script>
    <script src="../lib/mui/js/mui.min.js"></script>
    <script src="../lib/zepto/zepto.js"></script>
    <script src="../lib/arttemplate/template-web.js"></script>
    <script src="../lib/iscroll/iscroll.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/category.js"></script>
</body>

</html>