<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../lib/mui/css/font-mui-icons-extra.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../styles/goodsList.css">
    <title>品优购</title>
</head>

<body>
    <div class="layout">
        
        <div class="pyg_content">
            <!-- 侧滑导航根容器 -->
            <div class="mui-off-canvas-wrap mui-draggable">
                <!-- 菜单容器 -->
                <aside class="mui-off-canvas-right">
                    <div class="mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <div class="search_bar">
                                <input type="text" class="query_txt">
                                <button class="query_btn">搜索</button>
                            </div>
                            <div class="qingchu">
                                <button class="qingchu_btn">清除</button>
                            </div>
                            <div class="ssbc">
                                
                            </div>
                            <div class="searchList" style="overflow:hidden">
                                   
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- 主页面容器 -->
                <div class="mui-inner-wrap">
                    <!-- 主页面标题 -->
                    <header id="header" class="mui-bar mui-bar-nav pyg_header">
                            <h1 class="mui-title">搜索</h1>
                            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
                            <a class="mui-icon mui-icon-search mui-pull-right" href="javascript:;"></a>
                        </header>
                    <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
                        <div class="mui-scroll">
                            <ul class="goodslist">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pyg_footer">
            <nav class="mui-bar mui-bar-tab">
                <a class="mui-tab-item" href="../index.html">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
                </a>
                <a class="mui-tab-item mui-active" href="./category.html">
                    <span class="mui-icon mui-icon-list"></span>
                    <span class="mui-tab-label">分类</span>
                </a>
                <a class="mui-tab-item" href="./cart.html">
                    <span class="mui-icon-extra mui-icon-extra-cart"></span>
                    <div class="mui-tab-label" style="font-size:12px">购物车</div>
                </a>
                <a class="mui-tab-item" href="#tabbar-with-map">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
                </a>
            </nav>
        </div>
    </div>
    <!-- 搜索链接渲染模板 -->
    <script type="text/template" id="searchTemp">
        {{each goods value index}}
            <a href="./goodsDetail.html?pid={{value.goods_id}}" class="mui-ellipsis">{{value.goods_name}}</a>
        {{/each}}
    </script>
    <!-- 渲染商品列表模板 -->
    <script type="text/template" id="goodslistTemp">
        {{each goods value index}}
            <li>
                <a href="goodsDetail.html?goods_id={{value.goods_id}}" class="clearfix">
                    <div>
                        <img src="{{value.goods_small_logo}}" alt="">
                    </div>
                    <div>
                        <span class="mui-ellipsis-2">{{value.goods_name}}</span>
                        <div>￥{{value.goods_price}}</div>
                    </div>
                </a>
            </li>
        {{/each}}
    </script>
    <script src="../lib/mui/js/mui.min.js"></script>
    <script src="../lib/zepto/zepto.js"></script>
    <script src="../lib/arttemplate/template-web.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/goodsList.js"></script>
</body>

</html>