<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../lib/mui/css/font-mui-icons-extra.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../styles/person.css">
    <title>品优购</title>
</head>

<body>
    <div class="layout">
            <header id="header" class="mui-bar mui-bar-nav pyg_header">
                    <h1 class="mui-title">个人中心</h1>
                    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="javascript:;"></a>
                </header>
        <div class="pyg_content">
            <div class="perinfo">
                
            </div>
            <div class="orderman">
                    <div class="orderman_title">订单管理</div>
                    <div class="orderman_tabs">
                      <a href="./orderlist.html">
                        <span class="fa fa-money"></span>
                        <div class="item_name">待付款</div>
                      </a>
                      <a href="./orderlist.html">
                        <span class="fa fa-envelope-open-o"></span>
                        <div class="item_name">待收货</div>
                      </a>
                      <a href="./orderlist.html">
                        <span class="fa fa-pie-chart "></span>
                        <div class="item_name">退款/售后</div>
                      </a>
                      <a href="./orderlist.html">
                        <span class="fa fa-shopping-bag "></span>
                        <div class="item_name">全部订单</div>
                      </a>
                    </div>
            </div>
            <ul class="mui-table-view amend">
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">修改登录密码</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">支付密码管理</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">收货地址管理</a>
                    </li>
            </ul>
            <ul class="mui-table-view service">
                    <li class="mui-table-view-cell">
                        <span>联系客服</span>
                        <span class="mui-pull-right">4000-xxx-xxx-xxx</span>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">意见反馈</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right">关于我们</a>
                    </li>
            </ul>
            <button type="button" class="mui-btn mui-btn-danger btn_exit">退出登录</button>
        </div>
        <div class="pyg_footer">
                <nav class="mui-bar mui-bar-tab">
                    <a class="mui-tab-item" href="../index.html">
                        <span class="mui-icon mui-icon-home"></span>
                        <span class="mui-tab-label">首页</span>
                    </a>
                    <a class="mui-tab-item" href="./category.html">
                        <span class="mui-icon mui-icon-list"></span>
                        <span class="mui-tab-label">分类</span>
                    </a>
                    <a class="mui-tab-item" href="./cart.html">
                        <span class="mui-icon-extra mui-icon-extra-cart"></span>
                        <div class="mui-tab-label" style="font-size:12px">购物车</div>
                    </a>
                    <a class="mui-tab-item  mui-active" href="./person.html">
                        <span class="mui-icon mui-icon-contact"></span>
                        <span class="mui-tab-label">我的</span>
                    </a>
                </nav>
        </div>
    </div>
    <script type="text/template" id="perinfoTemp">
        <div class="perinfo_img">
                <span class="mui-icon mui-icon-contact"></span>
            </div>
            <div class="perinfo_content">
                <div class="perinfo_phone">{{user_tel}}</div>
                <div class="perinfo_emile">{{user_email}}</div>
            </div>
    </script>
    <script src="../lib/mui/js/mui.min.js"></script>
    <script src="../lib/zepto/zepto.js"></script>
    <script src="../lib/arttemplate/template-web.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js//person.js"></script>
</body>

</html>