html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
.clearfix:after {
  content: "020";
  display: block;
  font-size: 0px;
  line-height: 0px;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
  /*为IE6，7的兼容性设置*/
}
.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.layout > .pyg_header {
  height: 45px;
  padding: 3px;
}
.layout > .pyg_content {
  flex: 1;
  overflow: scroll;
}
.layout > .pyg_footer {
  height: 45px;
}
.loadding::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  content: "";
  z-index: 100;
}
.loadding::after {
  font: normal normal normal 14px/1 FontAwesome;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -50px;
  font-size: 100px;
  color: #0094ff;
  content: "\f013";
  z-index: 101;
  animation: fa-spin 1s infinite linear;
}
.pyg_content {
  padding: 10px;
  padding-top: 45px;
}
.pyg_content .goods_name {
  font-size: 14px;
}
.pyg_content .goods_price {
  font-size: 20px;
  color: orange;
}
.pyg_content .goods_post > li {
  display: flex;
  border-bottom: 1px solid #666;
  padding: 6px 0;
  font-size: 14px;
}
.pyg_content .goods_post > li > span:nth-of-type(1) {
  flex: 1;
  color: #aaa;
}
.pyg_content .goods_post > li > span:nth-of-type(2) {
  flex: 4;
  color: #333;
}
.pyg_content .goodsPara ul li .attr_title {
  width: 100%;
  border-bottom: 1px solid #333;
  line-height: 40px;
}
.pyg_content .goodsPara ul li .attr_content {
  display: flex;
  font-size: 13px;
  line-height: 30px;
}
.pyg_content .goodsPara ul li .attr_content > span:nth-of-type(1) {
  flex: 1;
}
.pyg_content .goodsPara ul li .attr_content > span:nth-of-type(2) {
  flex: 3;
}
.pyg_footer .mui-btn {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
