html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
.clearfix:after {
  content: "020";
  display: block;
  font-size: 0px;
  line-height: 0px;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
  /*为IE6，7的兼容性设置*/
}
.layout {
  width: 100vw;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.layout > .pyg_header {
  height: 45px;
  padding: 3px;
}
.layout > .pyg_content {
  flex: 1;
  overflow: scroll;
}
.layout > .pyg_footer {
  height: 45px;
}
.loadding::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  content: "";
  z-index: 100;
}
.loadding::after {
  font: normal normal normal 14px/1 FontAwesome;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -50px;
  font-size: 100px;
  color: #0094ff;
  content: "\f013";
  z-index: 101;
  animation: fa-spin 1s infinite linear;
}
.pyg_header {
  background-color: skyblue;
  padding: 0;
}
.pyg_header .mui-icon {
  color: #fff;
  font-weight: 700;
}
.pyg_content .ssbc {
  padding-left: 5px;
}
.pyg_content .ssbc > span {
  margin-top: 10px;
  display: inline-block;
  width: 35px;
  text-align: center;
  line-height: 25px;
  color: skyblue;
  border: 1px solid #ccc;
  margin-right: 8px;
  margin-bottom: 6px;
}
.pyg_content .qingchu .qingchu_btn {
  margin-left: 6px;
  background-color: #ccc;
  color: purple;
}
.pyg_content .search_bar {
  height: 40px;
  padding: 5px;
  position: relative;
}
.pyg_content .search_bar > .query_txt {
  height: 30px;
  width: 100%;
  border: none;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
.pyg_content .search_bar > .query_btn {
  width: 60px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 0;
  padding: 0;
}
.pyg_content .searchList > a {
  display: block;
  width: 100%;
  font-size: 14px;
  color: skyblue;
  margin-bottom: 3px;
  margin-left: 4px;
}
.pyg_content .goodslist > li {
  width: 100%;
  margin-bottom: 5px;
}
.pyg_content .goodslist > li > a {
  display: flex;
  width: 100%;
  background-color: #fff;
}
.pyg_content .goodslist > li > a > div {
  width: 50%;
}
.pyg_content .goodslist > li > a > div:nth-of-type(1) {
  padding: 5px 0;
}
.pyg_content .goodslist > li > a > div:nth-of-type(1) > img {
  width: 80%;
  display: block;
  margin: auto;
}
.pyg_content .goodslist > li > a > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pyg_content .goodslist > li > a > div:nth-of-type(2) span {
  word-break: break-all;
}
